out/app/*
board/evb/*/Objects/
board/evb/*/bin/
board/evb/tracker/tracker.uvguix.*
tool/Bee2MPTool/Bee2MPTool/Log/*
tool/DebugAnalyzer/DataFile/*
board/evb/*/EventRecorderStub.scvd
board/evb/*/JLinkLog.txt
board/evb/*/JLinkSettings.ini
board/evb/*/Listings/
doc/Bee2-SDK.chw
tool/Bee2MPTool/Bee2MPTool/OTAHeader/